.main-layout {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.location-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-left .current-temp {
  font-size: 2.5rem;
}
